<div>
	<form name="LoginForm" ng-submit="login(info)" novalidate>
		<div class="form-row">
			<label>Username:</label>
			<input type="text" id="username" ng-model="info.username" />
		</div>
		<div class="form-row">
			<label>Password:</label>
			<input type="password" id="password" ng-model="info.password" />
		</div>
		<div class="form-row">
			<button type="submit">Login</button>
		</div>
	</form>
</div>