<a href="/routeeditor">New route</a>

<div class="route-list list-wrapper">
	<div ng-repeat="route in routes" class="route-row">
		<a href="/route/{{route.id}}">{{route.name}}</a> - <a href="/routeeditor/{{route.id}}">Edit</a>
	</div>
</div>