<form ng-submit="newRoute(route)">
	<div class="form-row">
		<h2 ng-show="isNew">New route</h2>
		<h2 ng-show="!isNew">Edit route: {{route.name}}</h2>
	</div>
	<div class="form-row">
		<label>Name:</label>
		<input type="text" ng-model="route.name" name="name" />
		<button ng-click="save()">Save</button>
		<hr>
		<h2>Locations:</h2>
		<div ng-repeat="location in route.locations">
			<div class="route-location">{{location.name}} - {{location.vicinity}} - <a href="#" ng-click="removeLocation($index)">Remove</a></div>
		</div>
	</div>
</form>
<div>
	<div class="places-status">
		<div class="" ng-show="isLoadingPlaces">
			<div class="ajax-loader"></div>
			Fetching places...
		</div>
		<div class="" ng-show="!isLoadingPlaces">
			Places fetched.
		</div>
	</div>
	<form ng-submit="changeLocation(address)">
		<input type="text" ng-model="address" placeholder="Jump to address"/>
	</form>
	<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options">
		<ui-gmap-polyline path="map.polylines_path"></ui-gmap-polyline>
		<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" events="m.events" click="onClick(m)">
			<ui-gmap-window options="m.windowOptions" closeClick="closeClick(m)">
				<div class="map-window-wrapper">
					<span class="map-window-header">{{m.name}}</span>
					<a href="#" ng-click='$parent.addToRoute("{{m.id}}")'>Add to route</a>
				</div>
			</ui-gmap-window>
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>