<h2>{{route.name}}</h2>

<h3>Locations:</h3>
<div ng-repeat="location in route.locations">
	<div class="route-location">{{location.name}} - {{location.vicinity}}</div>
</div>
<h3>Map:</h3>
<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options">
	<ui-gmap-polyline path="map.polylines_path"></ui-gmap-polyline>
	<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" click="onClick(m)">
		<ui-gmap-window options="m.windowOptions" closeClick="closeClick(m)">
			<div class="map-window-wrapper">
				<span class="map-window-header">{{m.name}}</span>
			</div>
		</ui-gmap-window>
	</ui-gmap-marker>
</ui-gmap-google-map>