header {
	clear: both;
	display: block;
	overflow: hidden;

	margin-bottom: 20px;

	ul {
		li {
			border: 1px solid #f3ce89;
			padding: 5px;
			float: left;
			margin-right: 10px;
			@include border-radius (5px);
		}
	}
}